  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 985px;
    margin: 130px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;haha
  }
  .leftcontrol {
    width: 130px;
    height: 400px;
    background-color: #00c3e3;
    border-radius: 45px 0px 0px 45px;
    border: 5px solid #0F92A8;
    position: relative;
    float: left;
  }
  .screenbezel {
    width: 725px;
    height: 400px;
    background-color: #2E2E2E;
    border-radius: 20px 20px 0px 0px;
    border: 15px solid black;
    position: relative;
    float: left;
  }
  .rightcontrol {
    width: 130px;
    height: 400px;
    background-color: #ff4554;
    border-radius: 0 45px 45px 0;
    border: 5px solid #B61623;
    position: relative;
    float: left;
  }
  .leftjoystick {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: gray;
    border: 5px solid #2E2E2E;
    position: absolute;
    top: 60px;
    left: 30px;
  }
  .minusbutton {
    width: 25px;
    height: 8px;
    border-radius: 10%;
    background-color: #2E2E2E;
    position: absolute;
    top: 25px;
    left: 85px;
  }
  .cbutton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: absolute;
    top: 155px;
    left: 46px;
  }
  .cbuttonUP {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #2E2E2E;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .cbutton1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: absolute;
    top: 213px;
    left: 46px;
  }
  .cbuttonDOWN {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid #2E2E2E;
    position: absolute;
    top: 7px;
    left: 5px;
  }
  .cbutton2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: absolute;
    top: 184px;
    left: 15px;
  }
  .cbuttonLEFT {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 12px solid #2E2E2E;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 5px;
    left: 4px;
  }
  .cbutton3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: absolute;
    top: 184px;
    left: 77px;
  }
  .cbuttonRIGHT {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 12px solid #2E2E2E;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 5px;
    left: 7px;
  }
  .screenshot {
    width: 25px;
    height: 25px;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: absolute;
    top: 260px;
    left: 70px;
  }
  .screenshotcircle {
    width: 15px;
    height: 15px;
    background-color: #2E2E2E;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .mainscreen {
    width: 620px;
    height: 300px;
    background-color: #EAE4E3;
    position: relative;
    top: 35px;
    left: 38px;
    animation: pulse 5s infinite;
  }
  @keyframes pulse {
    0% {
    background-color: #EAE4E3;
    }
    100% {
    background-color: #2E2E2E;
    }
  }
  .speakerleft {
    width: 25px;
    height: 7px;
    border-radius: 10%;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 37px;
  }
  .speakerright {
    width: 25px;
    height: 7px;
    border-radius: 10%;
    background-color: black;
    position: absolute;
    bottom: 0px;
    right: 37px;
  }
  .triforce {
    position: absolute;
    top: 130px;
    left: 332px;
  }
  .tri {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid yellow;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .tri1 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid yellow;
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .tri2 {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid yellow;
    position: absolute;
    top: 30px;
    right: -20px;
  }
  .plusbutton {
    width: 25px;
    height: 7px;
    border-radius: 10%;
    background-color: #2E2E2E;
    position: absolute;
    top: 25px;
    right: 85px;
  }
  .plusbutton1 {
    width: 7px;
    height: 25px;
    border-radius: 10%;
    background-color: #2E2E2E;
    position: absolute;
    top: 16px;
    left: 19px;
  }
  .xbutton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2E2E2E;
    border: 3px solid #2E2E2E;
    position: absolute;
    top: 52px;
    left: 46px;
  }
  .x {
    font-family: gaultier,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
    background-color: #2E2E2E;
    position: absolute;
    top: 1px;
    left: 7px;
  }
  .bbutton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2E2E2E;
    border: 3px solid #2E2E2E;
    position: absolute;
    top: 110px;
    left: 46px;
  }
  .b {
    font-family: gaultier,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
    background-color: #2E2E2E;
    position: absolute;
    top: 1px;
    left: 7px;
  }
  .ybutton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2E2E2E;
    border: 3px solid #2E2E2E;
    position: absolute;
    top: 82px;
    left: 15px;
  }
  .y {
    font-family: gaultier,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
    background-color: #2E2E2E;
    position: absolute;
    top: 2px;
    left: 7px;
  }
  .abutton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2E2E2E;
    border: 3px solid #2E2E2E;
    position: absolute;
    top: 82px;
    right: 14px;
  }
  .a {
    font-family: gaultier,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
    background-color: #2E2E2E;
    position: absolute;
    top: 1px;
    left: 7px;
  }
  .rightjoystick {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: gray;
    border: 5px solid #2E2E2E;
    position: absolute;
    top: 165px;
    left: 30px;
  }
  .homebutton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2E2E2E;
    border: 3px solid gray;
    position: absolute;
    top: 260px;
    left: 25px;
  }
  .home {
    width: 15px;
    height: 15px;
    background-color: #2E2E2E;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
  }
