  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .leftcontrol {
    width: 130px;
    height: 400px;
    background-color: #00c3e3;
    border-radius: 45px 0px 0px 45px;
    border: 5px solid #0F92A8;
    float: left;
  }
  .screenbezel {
    width: 725px;
    height: 400px;
    background-color: #2E2E2E;
    border-radius: 20px 20px 0px 0px;
    border: 15px solid black;
    float: left;
  }
  .rightcontrol {
    width: 130px;
    height: 400px;
    background-color: #ff4554;
    border-radius: 0 45px 45px 0;
    border: 5px solid #B61623;
    float: left;
  }
  .leftjoystick {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: gray;
    border: 5px solid #2E2E2E;
    position: relative;
    top: 130px;
    left: 35px;
  }
  .minusbutton {
    width: 25px;
    height: 8px;
    border-radius: 10%;
    background-color: #2E2E2E;
    position: relative;
    top: 30px;
    left: 85px;
  }
  .cbutton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: relative;
    top: 160px;
    left: 52px;
  }
  .cbuttonUP {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #2E2E2E;
    position: relative;
    top: 138px;
    left: 60px;
  }
  .cbutton1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: relative;
    top: 180px;
    left: 52px;
  }
  .cbuttonDOWN {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid #2E2E2E;
    position: relative;
    top: 160px;
    left: 60px;
  }
  .cbutton2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: relative;
    top: 107px;
    left: 20px;
  }
  .cbuttonLEFT {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 12px solid #2E2E2E;
    border-bottom: 7px solid transparent;
    position: relative;
    top: 85px;
    left: 27px;
  }
  .cbutton3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: relative;
    top: 63px;
    left: 84px;
  }
  .cbuttonRIGHT {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 12px solid #2E2E2E;
    border-bottom: 7px solid transparent;
    position: relative;
    top: 41px;
    left: 95px;
  }
  .screenshot {
    width: 25px;
    height: 25px;
    background-color: gray;
    border: 3px solid #2E2E2E;
    position: relative;
    top: 95px;
    left: 80px;
  }
  .screenshotcircle {
    width: 15px;
    height: 15px;
    background-color: #2E2E2E;
    border-radius: 50%;
    position: relative;
    top: 75px;
    left: 85px;
  }
  .mainscreen {
    width: 620px;
    height: 300px;
    background-color: gray;
    position: relative;
    top: -170px;
    left: 180px;
  }
  .plusbutton {
    width: 25px;
    height: 7px;
    border-radius: 10%;
    background-color: #2E2E2E;
    position: relative;
    top: 0px;
    right: 0px;
  }
