h1 {
  font-family: fairwater-deco-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
body {
  font-family: fairwater-open-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
*{
  box=sizing: border-box;
}

/* body {
  margin: 50px auto;
  padding: 20px
} */

/* Layout 1 */
.board {
  width: 800px;
  margin: auto;
}
.red {
  width: 100px;
  height: 100px;
  background-color: crimson;
  float: left;
}
.black {
  width: 100px;
  height: 100px;
  background-color: black;
  float: left;
}





/* Layout 2 */
.grid {
  width: 800px;
  margin: auto;
  display: flow-root;
}
.header {
  width: 800px;
  height: 100px;
  background-color: tomato;
  margin: auto;
}
.nav {
  width: 800px;
  height: 20px;
  background-color: tomato;
  margin: 10px auto;
}
.content {
  width: 250px;
  height: 500px;
  background-color: tomato;
  margin: 8px;
}
.content {
  float: left;
}
.footer {
  width: 800px;
  height: 100px;
  background-color: tomato;
  margin: 10px auto;
}















/* Layout 3 */
.blog {
  width: 800px;
  margin: auto;
}
.header1 {
  width: 800px;
  height: 200px;
  background-color: tomato;
  margin: 50px;
}
.rec {
  width: 600px;
  height: 400px;
  background-color: tomato;
  margin: 50px;
}
.rec2 {
  width: 190px;
  height: 250px;
  background-color: tomato;
  margin: 50px;
}
.footer1 {
  width: 600px;
  height: 70px;
  background-color: tomato;
  margin: 50px;
}
