h1 {
  font-family: fairwater-deco-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
body {
  font-family: fairwater-open-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
*{
  box-sizing: border-box;
}

/* body {
  margin: 50px auto;
  padding: 20px
} */

/* Layout 1 */
.board {
  width: 800px;
  margin: auto;
}
.red {
  width: 100px;
  height: 100px;
  background-color: crimson;
  float: left;
}
.black {
  width: 100px;
  height: 100px;
  background-color: black;
  float: left;
}
/* Layout 2 */
.grid {
  width: 800px;
  margin: auto;
  display: flow-root;
}
.header {
  width: 800px;
  height: 100px;
  background-color: tomato;
  margin: auto;
}
.nav {
  width: 800px;
  height: 20px;
  background-color: tomato;
  margin: 10px auto;
}
.column {
  width: 241.6px;
  height: 500px;
  background-color: tomato;
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}
.footer {
  width: 800px;
  height: 100px;
  background-color: tomato;
  margin: 10px auto;
}
/* Layout 3 */
.blog {
  width: 800px;
  margin: auto;
  display: flow-root;
}
.header1 {
  width: 800px;
  height: 200px;
  background-color: tomato;
  margin: 10px 0px 75px 0px
}
.rec {
  width: 580px;
  height: 400px;
  background-color: tomato;
  margin: 30px 0px 8px 0px;

}
.rec2 {
  width: 205px;
  height: 220px;
  background-color: tomato;
  margin: 30px 0px 0px 8px;
}
.footer1 {
  width: 580px;
  height: 50px;
  background-color: tomato;
  margin: 0px 0px 45px 0px;
}
.rec, .rec2, .footer1 {
  float: left;
}

/* Tennis court */
.court {
  width: 820px;
  margin: auto;
  display: flow-root;
}
.left1 {
  width: 100px;
  height: 360px;
  background-color: tomato;
  margin-left: 0px;
  margin-right: 10px;
  float: left;
}
.middletop {
  width: 510px;
  height: 100px;
  background-color: red;
  margin-left: 0px;
  margin-right: 0px;
}
.square1 {
  width: 250px;
  height: 250px;
  background-color: blue;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.square2 {
  width: 250px;
  height: 250px;
  background-color: green;
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  float: left;
}
.middle {
  float: left;
}
.right1 {
  width: 100px;
  height: 360px;
  background-color: orange;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}
.top {
  float:left;
}
.left2 {
  width: 100px;
  height: 360px;
  background-color: gold;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  float: left;
}
.square3 {
  width: 250px;
  height: 250px;
  background-color: aqua;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
}
.square4 {
  width: 250px;
  height: 250px;
  background-color: purple;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
}
.middlebottom {
  width: 510px;
  height: 100px;
  background-color: lavender;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 260px;
  margin-bottom: 0px;
}
.middle2{
  float: left;
}
.right2 {
  width: 100px;
  height: 360px;
  background-color: pink;
  margin-left: opx;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 100px;
  float: left;
}
.bottom {
  float: left;
}


.cali {
  width: 1900px;
  margin: auto;
  display: flow-root;
}

.leftsection {
  float: left;
  border: 15px solid black;
  border-right: 0;
}
.middlesection {
  float: left;
  border: 15px solid black;

}
.rightsection {
  width: 615px;
  border: 15px solid black;
  border-left: 0;
  float: left;
}
.firstcolumn {
  width: 75px;
  float: left;
}
.secondcolumn {
  width: 75px;
  float: left;
}
.thirdcolumn {
  width: 150px;
  float: left;
}
.fourthcolumn {
  width: 150px;
  float: left;
}
.fifthcolumn {
  width: 150px;
  float: left;
}
.sixthcolumn {
  width: 150px;
  float: left;
}
.seventhcolumn {
  width: 150px;
  float: left;
}
.eighthcolumn {
  width: 75px;
  float: left;
}
.ninthcolumn {
  width: 75px;
  float: left;
}
.tenthcolumn {
  width: 150px;
  float: left;
}
.onebyone{
  width: 75px;
  height: 125px;
  background-color: tomato;
  border:  2px solid black;
}
.onebytwo{
  width: 75px;
  height: 250px;
  background-color: tomato;
  border:  2px solid black;
}
.onebyone1{
  width: 75px;
  height: 125px;
  background-color: tomato;
  border:  2px solid black;
  float: left;
}
.twobytwo{
  width: 150px;
  height: 250px;
  background-color: tomato;
  border:  2px solid black;
  float: left;
}
.twobythree {
  width: 150px;
  height: 375px;
  background-color: tomato;
  border: 2px solid black;
  float: left;
}
.onebytwo1{
  width: 75px;
  height: 250px;
  background-color: tomato;
  border:  2px solid black;
  float: left;
}
