.diagram {
  width: 525px;
  margin: 50px auto;
}
.leftgroup {
  width: 375px;
  float: left;
}
.onebyone {
  width: 100px;
  height: 100px;
  margin-right: 25px;
  float: left;
  background-color: purple;
}
.twobyone {
  width: 225px;
  height: 100px;
  margin-right: 25px;
  margin-top: 25px;
  float: left;
  background-color: purple;
}
.onebyone1 {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-right: 25px;
  float: left;
  background-color: purple;
}
.onebyone2 {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-right: 25px;
  float: left;
  background-color: purple;
}
.twobyone1 {
  width: 225px;
  height: 100px;
  margin-right: 25px;
  margin-top: 25px;
  float: left;
  background-color: purple;
}
.rightcolumn {
  float: left;
}
.onebytwo {
  width: 100px;
  height: 225px;
  margin-bottom: 25px;
  background-color: purple;
}
