body {
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 140vw;
  margin; -20vw;
}
.shape1 {
  width: 100px;
  height: 100px;
  background-color: crimson;
  float: left;
  margin: -10px;
  opacity: .75;
}
.shape2 {
  width: 100px;
  height: 100px;
  background-color: darkturquoise;
  float: left;
}
.shape3{
  width: 100px;
  height: 100px;
  background-color: gold;
  float:left;
}
