* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2{
  font-family: cormorant-garamond, serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
}
body {
  font-family: cormorant-garamond, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
/* img {
  display; block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} */
li{
  display: inline;
  text-transform: uppercase;
  margin-right: 20px;
}

a { text-decoration: none; color:white;
}
a:visited { text-decoration: red;
}
a:hover { text-decoration: gray;
}
a:focus { text-decoration: none;
}
a:hover, a:active { text-decoration: gray;
}

.pageheader {
  color: white;
  font-size: 80px;
  text-transform: uppercase;
}
.HomeImage {
  background-image: url('../images/portoOverlookzoom.jpg');
  padding: 50px;
  height: 660px;
  background-size: cover;
  background-position: center;
}

.hometext {
  font-size: 25px;
  text-align: center;
  margin: 30px 30px 50px;
}










.logo {
  width: 73px;
  height: 38px;
  background-image: url('../images/logos.png');
  align-content: center;
  margin: 0 auto;
}
.footer {
  margin: 0 auto;
  text-align: center;
}

.boat {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.bridge {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.library {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.railway {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.palace {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.church {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.rivera{
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.bridges{
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.train {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.tarts {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.lellolibrary {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.igrejachurch {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.clerigoschurch {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.majestic {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.road {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.cable {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
.paparico {
  width: 70%;
  height: 70%;
  align-content: center;
  margin: 0 auto;
}
